@import url(https://fonts.googleapis.com/css?family=__google-font-name__);

/* Color of the application */

.feedback_form_color {
    background: __main-color__;
}

/* Position of the feedback button */

.feedback_form_button_position {
    left: 40px;
    bottom: 0;
}

/* Styles for the feedback pop-up window and the feedback button */

.feedback_form_button {
    position: fixed;
    width: auto;
    height: auto;
    padding: 0 1em;
    box-shadow: 0 0 15px -5px #000;
    border-radius: 5px 5px 0 0;
    margin: 0;
    cursor: pointer;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 1px;
    color: __text-color__;
    font-family: __google-font-name__ __font-name__;
    font-weight: 400;
    transition: box-shadow .2s;
    z-index: 99999999;
}

.feedback_form_button:hover,
.feedback_form_button:focus {
    box-shadow: 0 0 18px -3px #000;
}

/* Styles for the feedback form */

.feedback_form_wrap {
    box-shadow: 0 0 13px -5px #000;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 300px;
    padding: 0;
    display: none;
    opacity: 0;
    transition: opacity .2s;
    z-index: 99999999;
}

.feedback_form_headline {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: __text-color__;
    font-family: __google-font-name__ __font-name__;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    transition: opacity .2s;
}

.feedback_form_container {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    padding: 50px 0 0 0;
    overflow: hidden;
    transition: opacity .2s;
}

.feedback_form_holder {
    position: relative;
    width: 100%;
    height: 100%;
    background: __text-color__;
    overflow: hidden;
    margin: 0;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
}

.feedback_rating_headline {
    position: relative;
    float: left;
    width: 100%;
    height: 20px;
    font-size: 11px;
    line-height: 20px;
    font-family: __google-font-name__ __font-name__;
    font-weight: 400;
    text-align: center;
    color: #606677;
    letter-spacing: 1px;
    margin: 0;
}

.feedback_form_like_holder {
    position: relative;
    float: left;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin: 0 0 20px 0;
}

.feedback_form_like {
    display: inline-block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    background-size: contain;
    opacity: .5;
}

#like_yes {
    float: left;
    margin-left: 30px;
}

#like_no {
    float: right;
    margin-right: 30px;
}

.feedback_form_like svg {
    padding: 4px;
}

.feedback_form_like:hover,
.feedback_form_like:active {
    opacity: 1;
}

.feedback_form_submit:hover,
.feedback_form_submit:focus {
    background-color: #2c3e50;
}

.feedback_form_message {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 3px;
    background: rgba(0, 0, 0, .05);
    outline: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
    color: #606677;
    margin: 0 0 10px 0;
    text-align: left;
    font-family: __google-font-name__ __font-name__;
    font-weight: 400;
    appearance: none;
    resize: none;
}

.feedback_form_submit {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
    line-height: 20px;
    color: __text-color__;
    margin: 0;
    text-align: center;
    font-family: __google-font-name__ __font-name__;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.feedback_form_overlap {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222;
    z-index: 99999998;
    opacity: 0;
    transition: opacity .2s;
}

.feedback_form_status {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    display: none;
    opacity: 0;
    transition: opacity .2s;
}

.feedback_form_status_msg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 2em;
    line-height: 2em;
    color: __text-color__;
    font-family: __google-font-name__ __font-name__;
    text-align: center;
}